/*Geral--------------------------------------------------------------------*/
body, html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

/*Navbar transparente----------------------------------------------------------*/

.navbar {
    transition: all 0.4s;
    padding: 0 !important;
}

.navbar .nav-link {
    color: #f2f1eb;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #f2f1eb;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #f2f1eb;
}


/* Navbar após scroll ------------------------------------------------------*/
.navbar.active {
    background: #50897D;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px !important;
    padding-top: 5px !important;
}

.navbar.active .nav-link {
    color: #f2f1eb;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #f2f1eb;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #f2f1eb;
}


/* Change navbar styling on small viewports --------------------------------------*/
@media (max-width: 1200px) {
    .navbar {
        background: #50897D;
        padding: 10px !important;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    }

    .navbar.active{
        padding-top: 10px !important;
    }

    .navbar li{
        border-bottom: 1px solid rgba(242,241,235, 0.2);
    }

    .navbar li:last-child{
        border-bottom: none;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #f2f1eb;
    }

    header nav img:first-of-type{
        height: 70px;
    }

    .navbar-toggler:focus,
    .navbar-toggler:hover {
        text-decoration: none;
        outline: 1px solid #fff;
    }

    .botao-agenda-consulta{
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }

}

/*Navbar-------------------------------------------------------------*/
.botao-agenda-consulta{
    margin-top: 15px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 7px 10px;
    transition: 0.4s;
    font-weight: 500;
    margin-bottom: 10px;
}

.botao-agenda-consulta:hover{
    color: #C3A13B;
    background-color: #fff;
    transition: 0.4s;
    cursor: pointer;
    font-weight: 500;
}

.botao-agenda-consulta p{
    margin-bottom: 0px !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 2px;
}

nav ul li{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding-right: 1px;
    padding-top: 15px;
    font-weight: 400;
    transition: 0.1s;
    padding-bottom: 10px;
}

nav ul li:hover{
    font-weight: 600;
    transition: 0.1s;
}

/*Página inicial-------------------------------------------------------*/

.inicio{
    position: relative;
    background-image: url('../img/bg-inicio-ok.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    border-bottom-left-radius: 200px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.detalhe-cinza{
    position: relative;
    background-color: #f2f3f4;
    height: 180px;
    margin-top: -100px;
    border-bottom-left-radius: 200px;
    margin-left: 100px;
    z-index: 1;
}

.img-centro img{
    width: 90%;
    margin-top: 200px;
    max-width: 750px;
}

@media (max-width: 767px){
    .inicio{
        height: 80vh;
    }
}
@media (max-width: 991.98px){
    .botao-agenda-consulta{
        margin-top: 0px;
    }
}
@media (max-width: 374px){
    h1{
        font-size: 1.8rem !important;
    }
}

@media (max-width: 992px){
    .inicio{
        border-bottom-left-radius: 150px;
    }
    .detalhe-cinza{
        border-bottom-left-radius: 150px;
        margin-left: 80px;
    }
}

@media (max-width: 768px){
    .inicio{
        border-bottom-left-radius: 120px;
    }
    .detalhe-cinza{
        border-bottom-left-radius: 120px;
        margin-left: 50px;
    }
}

@media (max-width: 576px){
    .inicio{
        border-bottom-left-radius: 100px;
    }
    .detalhe-cinza{
        border-bottom-left-radius: 100px;
        margin-left: 30px;
        margin-top: -130px;
    }
}

/*Sobre mim -----------------------------------------------*/
.img-isadora img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.35);
}

.titulo h4{
    color: #50897D;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    font-weight: 600;
}

.sobre-mim .titulo div{
    height: 1px;
    width: calc(100% - var(--h4-width) - 23px);
    background-color: #C3A13B;
    margin-left: 20px;
}

.texto-inicial h4{
    color: #50897D;
    font-weight: 400;
}

.textos-sobre-mim p{
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 576px){
    .img-isadora img{
        width: 90%;
    }
}

/*Especialidades -----------------------------------------------*/

.especialidades .titulo div{
    height: 1px;
    width: calc(100% - var(--h4-width2) - 21px);
    background-color: #C3A13B;
    margin-left: 20px;
}

.especialidades{
    position: relative;
    background-color: #f2f3f4;
    border-top-right-radius: 120px;
}

.especialidades img{
    position: absolute;
    width: 300px;
    margin-left: -150px;
    z-index: 1;
    bottom: 20px;
}

.especialidades .titulo,
.especialidades .box-especialidades{
    position: relative;
    z-index: 2;
}

.card-especialidade{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
}

.circle-especialidade{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #50897D;
}

.card-especialidade h4{
    color: #50897D;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.card-especialidade:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

@media (max-width: 576px){
    .especialidades{
        border-top-right-radius: 60px;
    }
}

/*Cuidados paliativos---------------------------------*/

.cuidados-paliativos .titulo div{
    height: 1px;
    width: calc(100% - var(--h4-width3) - 21px);
    background-color: #C3A13B;
    margin-left: 20px;
}

.textos-cuidados-paliativos h5{
    color: #50897D;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-right: 3rem;
    margin-left: 3rem;
}

.textos-cuidados-paliativos p{
    font-family: 'Montserrat', sans-serif;
}

.carousel-img-cuidados img{
    border-radius: 10px;
    background-color: #fff;
}

.carousel-indicators .active {
    background-color: #C3A13B !important;
}

.carousel-indicators li {
    background-color: #f2f3f4;
}

/*Áreas atuação----------------------------------------*/
.areas-atuacao{
    position: relative;
    background-color: #f2f3f4;
    border-top-left-radius: 120px;
}

.areas-atuacao img{
    position: absolute;
    width: 300px;
    margin-left: -150px;
    z-index: 1;
    bottom: 20px;
}

.areas-atuacao .titulo div{
    height: 1px;
    width: calc(100% - var(--h4-width4) - 21px);
    background-color: #C3A13B;
    margin-left: 20px;
}

.card-area-atuacao{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
}

.card-area-atuacao:hover{
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
}

.linha-verde{
    background-color: #50897D;
    height: 8px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-area-atuacao h4{
    color: #50897D;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.card-area-atuacao p{
    color: #929292;
    font-family: 'Montserrat', sans-serif;
}

.card-area-atuacao h6{
    color: #C3A13B;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    transition: font-size 0.3s ease;
}

.areas-atuacao .card-area-atuacao{
    position: relative;
    z-index: 2;
}

@media (max-width: 576px){
    .areas-atuacao{
        border-top-left-radius: 60px;
    }
}

/*Recomendações------------------------------*/

.recomendacoes .titulo div{
    height: 1px;
    width: calc(100% - var(--h4-width5) - 21px);
    background-color: #C3A13B;
    margin-left: 20px;
}

.circle-dica{
    background-color: #50897D;
    padding: 4%; 
    border-radius: 50%;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    margin-top: -30px;
}

.textos-circle-dica h5{
    font-family: 'Montserrat', sans-serif;
}

.textos-circle-dica p{
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 575px){
    .circle-dica{
        padding: 5%;
    }
}

/*Modalidades de atendimento------------------------*/
.atendimento .titulo div{
    height: 1px;
    width: calc(100% - var(--h4-width6) - 22px);
    background-color: #C3A13B;
    margin-left: 20px;
}

.atendimento{
    position: relative;
    background-color: #f2f3f4;
    border-bottom-right-radius: 120px;
}

.logo-fundo-branca img{
    position: absolute;
    width: 300px;
    margin-left: -150px;
    z-index: 1;
    bottom: 20px;
}

.img-modalidade-atendimento-1 img{
    width: 100%;
    position: relative;
    z-index: 2;
}

.img-modalidade-atendimento-2 img{
    width: 50%;
    position: relative;
    z-index: 2;
}

.textos-modalidade-atendimento h4{
    font-family: 'Montserrat', sans-serif;
    color: #50897D;
    font-weight: 600;
    position: relative;
    z-index: 2;
}

.textos-modalidade-atendimento p{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index: 2;
}

.nav-pills .nav-link{
    color: #50897D;
    font-family: 'Montserrat', sans-serif;
}

.nav-pills .nav-link.active {
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #50897D
}

.areas-atuacao .card-area-atuacao{
    position: relative;
    z-index: 2;
}

@media (max-width: 576px){
    .atendimento{
        border-bottom-right-radius: 60px;
    }
}

@media (max-width: 992px){
    .img-modalidade-atendimento-1 img{
        width: 70%;
    }

    .img-modalidade-atendimento-2 img{
        width: 30%;
    }
}

@media (max-width: 768px){
    .img-modalidade-atendimento-2 img{
        width: 40%;
    }
}

@media (max-width: 576px){
    .img-modalidade-atendimento-1 img{
        width: 80%;
    }
}

/*Contato-----------------------------------*/
.contato .titulo div{
    height: 1px;
    width: calc(100% - var(--h4-width7) - 21px);
    background-color: #C3A13B;
    margin-left: 20px;
}

.contato iframe{
    border-radius: 10px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.circle-rede-social{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #50897D;
}

.textos-rede-social h6{
    color: #50897D;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.textos-rede-social a{
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 350px){
    .textos-rede-social a{
        font-size: 15px;
    }
}

.contato video{
    width: 100%;
    border-radius: 10px;
}

.video-contato h4{
    font-family: 'Montserrat', sans-serif;
    color: #50897D;
    font-weight: 500;

}

.botao-agenda-consulta-final{
    margin-top: 15px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 7px 10px;
    transition: 0.4s;
    font-weight: 500;
    margin-bottom: 10px;
    background-color: #C3A13B;
    width: 204px;
    transition: transform 0.3s ease-in-out;
}

.botao-agenda-consulta-final:hover{
    cursor: pointer;
    font-weight: 500;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
}

.botao-agenda-consulta-final p{
    margin-bottom: 0px !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 2px;
}

/*Rodapé-----------------------------------------------*/
.parte-cinza-rodape{
    height: 50px;
    width: 100%;
    background-color: #f2f3f4;
    border-top-right-radius: 350px;
    margin-left: -150px;
}

.rodape-oficial{
    background-image: url('../img/bg-inicio-ok.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 200px;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.25);
}

.logo-rodape a{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.linha-rodape{
    background-color: #fff;
    height: 1px;
    width: 100%;
}

.rodape h5{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

@media (max-width: 1300px){
    .rodape-oficial{
        border-top-right-radius: 120px;
    }
    .parte-cinza-rodape{
        margin-left: -100px;
    }
}


@media (max-width: 768px){
    .rodape-oficial{
        border-top-right-radius: 100px;
    }
    .parte-cinza-rodape{
        margin-left: -80px;
    }
}

@media (max-width: 576px){
    .parte-cinza-rodape{
        margin-left: -50px;
        height: 30px;
    }
    .rodape-oficial{
        border-top-right-radius: 60px;
    }
}

/*Scrollbar*/

body::-webkit-scrollbar {
    width: 10px
} 
  
body::-webkit-scrollbar-thumb {   
    background-color: #C3A13B;
    border-radius: 5px;   
}